.parallax-wrapper {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  box-sizing: border-box;
}
.regular-wrapper {
  z-index: 2;
  position: relative;
  height:100vh;
  padding-top:20vh;
  background-color: rgb(255, 255, 255);
}
.regular-wrapper2 {
  z-index: 2;
  position: relative;
  padding-top:10vh;
  padding-bottom: 10vh;
  background-color: rgb(65, 95, 132);
}


.parallax-wrapper::before {
  content:"";
  width: 100vw;
  height: 120vh;
  background-image: url(/images/colage.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}


html {
  overflow: hidden;
}
body {
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;
}
.parallax-wrapper {
  transform-style: preserve-3d;
}

.parallax-wrapper::before {
  transform:translateZ(-1px) scale(2);
}

.parallax-wrapper::before {
  z-index: -1;
}



